/**
 * Tianyu Shell UI Theme
 * Red Theme - Light Colors
*/

:root {
  --ts_ui_bgc: #ffffff;
  --ts_ui_content_bgc: #d9faf2;
  --ts_ui_dialog_mask_bgc: #bfbfbf83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #f2f2f2;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_8: #ffffff;
  --ts_ui_blk_7: #bbfce8;
  --ts_ui_blk_6: #7fffd4;
  --ts_ui_blk_5: #72e2bc;
  --ts_ui_blk_4: #5db598;
  --ts_ui_blk_3: #4f9780;
  --ts_ui_blk_2: #3b6b5b;
  --ts_ui_blk_1: #111111;

  --ts_ui_blk_18: #d9faf2;
  --ts_ui_blk_17: #9dfede;
  --ts_ui_blk_16: #79f1c8;
  --ts_ui_blk_15: #64c4a4;
  --ts_ui_blk_14: #56a68c;
  --ts_ui_blk_13: #488873;
  --ts_ui_blk_12: #2d4d42;
  --ts_ui_blk_11: #2d4d42;
}
