/**
 * Tianyu Shell UI Theme
 * Mono Theme - Light Colors
*/

:root {
  --ts_ui_bgc: #ffffff;
  --ts_ui_content_bgc: #f2f2f2;
  --ts_ui_dialog_mask_bgc: #bfbfbf83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #f2f2f2;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_1: #111111;
  --ts_ui_blk_2: #333333;
  --ts_ui_blk_3: #555555;
  --ts_ui_blk_4: #777777;
  --ts_ui_blk_5: #999999;
  --ts_ui_blk_6: #a0a0a0;
  --ts_ui_blk_7: #c0c0c0;
  --ts_ui_blk_8: #ffffff;

  --ts_ui_blk_11: #111111;
  --ts_ui_blk_12: #333333;
  --ts_ui_blk_13: #555555;
  --ts_ui_blk_14: #777777;
  --ts_ui_blk_15: #999999;
  --ts_ui_blk_16: #a0a0a0;
  --ts_ui_blk_17: #c0c0c0;
  --ts_ui_blk_18: #ffffff;
}
