/**
 * Tianyu Shell UI Theme
 * Default Theme - Light Colors
*/

:root {
  --ts_ui_bgc: #ffffff;
  --ts_ui_content_bgc: #e8d9ed;
  --ts_ui_dialog_mask_bgc: #bfbfbf83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #f2f2f2;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_8: #ffffff;
  --ts_ui_blk_7: #d9badd;
  --ts_ui_blk_6: #bb7cbe;
  --ts_ui_blk_5: #9e3e9f;
  --ts_ui_blk_4: #730373;
  --ts_ui_blk_3: #570757;
  --ts_ui_blk_2: #3b0b3b;
  --ts_ui_blk_1: #111111;

  --ts_ui_blk_18: #ca9bce;
  --ts_ui_blk_17: #ad5daf;
  --ts_ui_blk_16: #8f1f90;
  --ts_ui_blk_15: #800080;
  --ts_ui_blk_14: #650565;
  --ts_ui_blk_13: #490949;
  --ts_ui_blk_12: #2d0d2d;
  --ts_ui_blk_11: #1f0f1f;
}
