/**
 * Tianyu Shell UI Theme
 * Red Theme - Dark Colors
*/

:root {
  --ts_ui_bgc: #000000;
  --ts_ui_content_bgc: #28161a;
  --ts_ui_dialog_mask_bgc: #ededed83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #0d0d0d;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_1: #ffffff;
  --ts_ui_blk_2: #ebc8d3;
  --ts_ui_blk_3: #e098a9;
  --ts_ui_blk_4: #d56880;
  --ts_ui_blk_5: #b2334e;
  --ts_ui_blk_6: #84293d;
  --ts_ui_blk_7: #56202c;
  --ts_ui_blk_8: #111111;

  --ts_ui_blk_11: #f1e0e8;
  --ts_ui_blk_12: #e6b0be;
  --ts_ui_blk_13: #db8095;
  --ts_ui_blk_14: #cf506b;
  --ts_ui_blk_15: #c93756;
  --ts_ui_blk_16: #9b2e45;
  --ts_ui_blk_17: #6d2434;
  --ts_ui_blk_18: #3f1b23;
}
