@import url("./dialog.animation.css");

.ts_ui_dialog_mask {
  position: absolute;
  display: none;

  background-color: var(--ts_ui_dialog_mask_bgc);

  z-index: var(--ts_ui_dialog_zindex);
}

.ts_ui_dialog_in {
  display: grid;

  /* grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% auto 10%; */

  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
