/**
 * Tianyu Shell UI Theme
 * Default Theme - Dark Colors
*/

:root {
  --ts_ui_bgc: #000000;
  --ts_ui_content_bgc: #171c20;
  --ts_ui_dialog_mask_bgc: #ededed83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #0d0d0d;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_1: #ffffff;
  --ts_ui_blk_2: #d2e8fd;
  --ts_ui_blk_3: #aed8fe;
  --ts_ui_blk_4: #8ac8ff;
  --ts_ui_blk_5: #508ec4;
  --ts_ui_blk_6: #3b6488;
  --ts_ui_blk_7: #263b4d;
  --ts_ui_blk_8: #111111;

  --ts_ui_blk_11: #c0e0fe;
  --ts_ui_blk_12: #9cd0ff;
  --ts_ui_blk_13: #78c0ff;
  --ts_ui_blk_14: #65b7ff;
  --ts_ui_blk_15: #5ba3e2;
  --ts_ui_blk_16: #4679a6;
  --ts_ui_blk_17: #31506b;
  --ts_ui_blk_18: #1c262f;
}
