/**
 * Tianyu Shell UI Theme
 * Default Theme - Light Colors
*/

:root {
  --ts_ui_bgc: #ffffff;
  --ts_ui_content_bgc: #e4f0fd;
  --ts_ui_dialog_mask_bgc: #bfbfbf83;
  --ts_ui_dialog_mask_op: 100%;
  --ts_ui_dialog_content_bgc: #f2f2f2;
  --ts_ui_dialog_content_sdc: #000000;

  --ts_ui_blk_8: #ffffff;
  --ts_ui_blk_7: #d2e8fd;
  --ts_ui_blk_6: #aed8fe;
  --ts_ui_blk_5: #8ac8ff;
  --ts_ui_blk_4: #508ec4;
  --ts_ui_blk_3: #3b6488;
  --ts_ui_blk_2: #263b4d;
  --ts_ui_blk_1: #111111;

  --ts_ui_blk_18: #c0e0fe;
  --ts_ui_blk_17: #9cd0ff;
  --ts_ui_blk_16: #78c0ff;
  --ts_ui_blk_15: #65b7ff;
  --ts_ui_blk_14: #5ba3e2;
  --ts_ui_blk_13: #4679a6;
  --ts_ui_blk_12: #31506b;
  --ts_ui_blk_11: #1c262f;
}
